<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/loginForm.css">
</head>
<body>
<section class="login">
    <form action="#" method="post">
        <h2>로그인</h2>
        <ul>
            <li>
                <input type="text" id="id" placeholder="아이디를 입력하세요">
            </li>
            <li>
                <input type="password" id="pw" placeholder="비밀번호를 입력하세요">
            </li>
            <li>
                <input type="submit" value="로그인">
            </li>
        </ul>
    </form>
    <ul>
        <li>
            <a href="">회원 가입</a>
        </li>
    </ul>
</section>
</body>
</html>