<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/selectForm.css">
</head>
<body>
    <div class=outer>
        <div class=first>
          <input class=first_button type="button" value="가">
        </div>
        <div class=second>
          <input class=second_button type="button" value="나">
        </div>
        <div class=third>
          <input class=third_button type="button" value="다">
        </div>
      </div>
</body>
</html>