<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>test</h2>
<!--<div>총 건수 : <span th:text="${#lists.size(employees)}"></span></div>-->

<!--<div>
    아이디: <span th:text = "${employeeDto.employeeId}"></span>
</div>

<div>
    이름: <span th:text = "${employeeDto.employeeName}"></span>
</div>

<div>
    비밀번호: <span th:text = "${employeeDto.employeePassword}"></span>
</div>
<div>
    전화번호: <span th:text = "${employeeDto.employeeTel}"></span>
</div>
<div>
    장소: <span th:text = "${employeeDto.storeLocation}"></span>
</div>
<div>
    매장명: <span th:text = "${employeeDto.storeName}"></span>
</div>
<div>
    오픈일자: <span th:text = "${employeeDto.open_date}"></span>
</div>-->

<table border="1">
    <thead>
        <tr>
            <td>아이디</td>
            <td>이름</td>
            <td>비밀번호</td>
            <td>전화번호</td>
            <td>장소</td>
            <td>매장명</td>
            <td>오픈일자</td>
        </tr>
    </thead>
    <tbody>
        <tr th:each="employeeDto, status: ${employeeDtoList}">
            <td th:text="${employeeDto.employeeId}"></td>
            <td th:text="${employeeDto.employeeName}"></td>
            <td th:text="${employeeDto.employeePassword}"></td>
            <td th:text="${employeeDto.employeeTel}"></td>
            <td th:text="${employeeDto.storeLocation}"></td>
            <td th:text="${employeeDto.storeName}"></td>
            <td th:text="${employeeDto.open_date}"></td>
        </tr>
    </tbody>
</table>


</body>
</html>